.custom-card
{
    width: 30%;
    top: 30%;
    position: absolute;
    right: 15%;
    opacity: 0.9;
}


.login-image {
    background-image: url("../../../../../assets/login.jpg"); 
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }