.d-block
{
    display: block;
}
table {
    width: 100%;
  }
  .filterStyle
  {
      width: 20%;
      margin-left: 80%;
  }
.mat-form-field-wrapper ng-tns-c84-0
{
    float: right;
    width: 25%;
}
.mat-form-field-wrapper{
    width: 100%;
}
.glyphicon
{
    color:red
}

.action-btn{
    height: 20px;
}