<mat-toolbar class="d-block pt-3 pb-2">
  <span>My Task</span>
  <span>
    <button mat-raised-button color="warn" class="float-right ml-5" (click)="logout()"><B>Logout</B></button>
    <button mat-raised-button color="primary" class="float-right mr-5" (click)="addTask()">Add Task</button>
  </span>
  <!--  -->
</mat-toolbar>
<div class="container-fluid">
  <div>
    <mat-form-field appearance="standard" class="filterStyle">
      <mat-label>Search</mat-label>
      <input matInput #dataSourceFilter (keyup)="applyFilter(dataSourceFilter.value)" placeholder="Search" #input>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>
      <ng-container matColumnDef="LeadName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.LeadName==null?'-':element.LeadName}} </td>
      </ng-container>
      <ng-container matColumnDef="AssignedToUserName">
        <th mat-header-cell *matHeaderCellDef> AssignedToUserName </th>
        <td mat-cell *matCellDef="let element"> {{element.AssignedByUserName}} </td>
      </ng-container>
      <ng-container matColumnDef="CreateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CreateDate </th>
        <td mat-cell *matCellDef="let element"> {{element.CreateDate | date:'dd MMM yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="TaskEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TaskEndDate </th>
        <td mat-cell *matCellDef="let element"> {{element.TaskEndDate | date:'dd MMM yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="Priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.Priority==""?'-':element.Priority}} </td>
      </ng-container>
      <ng-container matColumnDef="TaskStatus">
        <th mat-header-cell *matHeaderCellDef> TaskStatus </th>
        <td mat-cell *matCellDef="let element" style="color:orange">{{element.TaskStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <button (click)="deleteTask(element.TaskId)" mat-icon-button color="primary" matTooltip="Delete"
          type="button">
          <img class="action-btn" src="../../../../assets/TaskDelete.svg">
      </button>&nbsp;</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>