.remove-input-value
{
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
}
.mat-column-Title {
    flex: 0 0 12% !important;
}
.mat-column-CustomerName{
    flex: 0 0 10% !important;
}
.mat-column-AssignedBy {
    flex: 0 0 09% !important;
}

.mat-column-AssignedDate {
    flex: 0 0 11% !important;
}

.mat-column-DueDate {
    flex: 0 0 10% !important;
}

.mat-column-Priority {
    flex: 0 0 7% !important;
}

.mat-column-Status {
    flex: 0 0 10% !important;
}
.mat-column-Action {
    flex: 0 0 30% !important;
}